NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=G-XXXXXXXXXX
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_RETAIL_BASE_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3002/api
NEXT_PUBLIC_SOCKET_URL=ws://localhost:3002/ws
# create a new file .env.local and copy the content of .env.example to itD